{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block main %}

{# Block 1 : A propos d'helssyskin #}
<div class="wrapper_about">
  <section id="about" class="row align-items-center p-5">
    <div class="philosophie col-6 offset-1 border-light p-4">
      <h2>A propos d'HelssySkin</h2><br>
        <p>
          Maquillage, mauvais nettoyage, produits pour la peau agressifs, la pollution de l'air, mauvais gestes, mauvaises routines, produits non adaptés à son type de peau…

          Pour pouvoir suivre les tendances, notre peau est menée à rude épreuve et les désastres sur la peau sont fréquents. Le problème, c’est que la peau ne cicatrise pas sans produits adaptés à ses besoins...

          Pour éviter le point de non retour de peaux sèches, déshydratées ou à problèmes, il est nécessaire d'apprendre à traiter sa peau différemment. Il faut la chouchouter avec des produits sains et il faut trouver une manière de l'embellir sans l'abîmer. L’objectif d'HelssySkin, c’est exactement ça !
        </p>
    </div>
    <br>
{# Block 2 : Image_soin_peau #}
    <div class="image_a_propos col-4 offset-1">
      <img src="{{ ('/images/creme_peau.jpg') }}" class="w-75" alt="creme_soin"/>
    </div>
  </section>
</div>

{# Block 3 : Nos valeurs #}
<section class="about_valeurs">
    <h2 class="titre_valeurs">Nos valeurs</h2><br>
      <div class="container">
        <div class="card">
          <div class="imgBX">
            <img src ="{{ ('/images/qualite_about.jpg') }}">
          </div>
        <div class="content">
          <h5>ENGAGEMENT</h5>
            <p>Nous nous engageons à vous proposer des produits de qualité bio et sains adaptés à chaque type de peau. Notre objectif est de vous apporter les meilleurs soins en adéquation à vos besoins.</p>
        </div>
      </div>
  
      <div class="card">
        <div class="imgBX">
          <img src ="{{ ('/images/qualite_about1.jpg') }}">
        </div>
        <div class="content">
          <h5>EXIGENCE DE QUALITE</h5>
            <p>La qualité est au centre de nos priorités. C'est le fil conducteur de nos engagements envers vous afin de vous apporter des produits naturels et sains certifiés "bio".</p>
        </div>
      </div>

      <div class="card">
        <div class="imgBX">
          <img src ="{{ ('/images/transparence_about.jpg') }}">
        </div>
        <div class="content">
          <h5>TRANSPARENCE</h5>
            <p>La traçabilité est au centre de notre gestion au quotidien. Nous nous attelons à rester proactifs tout en proposant des produits naturels en toute transparence. En effet, la transparence fait partie de notre éthique tant sur le plan professionnel qu'humain.</p>
        </div>
      </div>

      {# <div class="card">
        <div class="imgBX">
          <img src ="/images/engagement.png">
        </div>
        <div class="content">
          <h5>INTEGRITE</h5>
            <p>Nous nous engageons à vous proposer des produits de qualité bio et sains adaptés à chaque type de peau. Notre objectif est de vous apporter les meilleurs soins en adéquation à vos besoins. Nous vous accompagnons également pour vous aider à connaître votre type de peau.</p>
        </div>
      </div> #}
    </div>
</section>
</div>
{% endblock %}
