{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block main %}

    <div class="container">
    <div id="light_cart" class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
{# Tableau-recap panier #}
    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            <thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.description }}</td>
                        <td>{{ (item.product.price / 100)|number_format(2,',','.') }} €</td>
                        <td class="text-center">
                            <a href="{{ path('cart_remove', {'id' : item.product.id}) }}"><i class="bi bi-dash-square-fill text-dark me-2"></i></a>
                            {{ item.quantity }}
                            <a href="{{ path('cart_add', {'id' : item.product.id}) }}"><i class="bi bi-plus-square-fill text-dark ms-2"></i></a>
                        </td>
                        <td>{{ (item.product.price * item.quantity / 100)|number_format(2,',','.') }} €</td>
                        <td>
                            <a href="{{ path('cart_add', {'id' : item.product.id}) }}" class="btn btn-success btn-sm"</a><i class="fa-solid fa-cart-plus"></i>
                            <a href="{{ path('cart_remove', {'id' : item.product.id}) }}" class="btn btn-outline-danger btn-sm"</a><i class="fas fa-trash"></i>
                        </td>  
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end">Total : </td>
                    <td>{{ (total / 100)|number_format(2,',','.') }} €</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
{# Buttons-panier #}
    {% else %}
        <p class="text-center my-5 weight-bold">Votre panier est vide ! <a href="{{ path('app_products_index') }}"</a>Parcourir nos produits</p>
    {% endif %}   
</div>  
<div class="row">
    <div class="col-11 text-end py-5 mb-5">
        <a href="" class="btn btn-outline-danger">Vider le panier</a>
        <a href="" class="btn btn-success">Valider le panier</a>
    </div>
</div> 
{% endblock %}
