{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block main %}
<body style="background-image:url(images/fleur_lotus_rose.jpg);background-size:cover">
    <div class="container mt-5">
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	{# Formulaire d'inscription #}
	{{ form_start(registrationForm) }}
	<h2 style="color:white;font-style:italic;margin-top:100px">Formulaire d'inscription</h2>
	<div class="row mt-2 mr-5 ml-5">
		<div class="col-md-6">
			{{ form_row(registrationForm.lastname) }}
			{{ form_row(registrationForm.address) }}
			{{ form_row(registrationForm.city) }}
			{# {{ form_row(registrationForm.phone_number) }} #}
		</div>
		<div class="col-md-6">
			{{ form_row(registrationForm.firstname) }}
			{{ form_row(registrationForm.zip) }}
			{{ form_row(registrationForm.country) }}	
			{# {{ form_row(registrationForm.agreeTerms) }} #}
		</div>
	</div>
	<div class="row mr-5 ml-5">
		<div class="col-md-6">
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.password, {label: 'Password'}) }}
			<button type="submit" class="btn btn-md btn-primary mb-3">S'inscrire</button>
		</div>	
		<div class="col-md-6">
			{# {{ form_widget(registrationForm) }} #}
			{{ form_end(registrationForm) }}
	</div>
</div>
{% endblock %}
