{% extends 'base.html.twig' %}

{% block title %}Conseils Beauté{% endblock %}
    
{% block main %}
<body style="background-color:#E3BC9A">

    {# Intro #}
    <div class="intro2"><br>
        <p>Afin d'apporter les soins appropriés à votre peau, vous devez, tout d'abord, déterminer :<br>
        --> Quel est le type de votre peau si vous la connaissez et,<br>
        --> Quelle est la problématique de votre peau actuellement ?<br>
        Vous trouverez ci-dessous <strong>des explications et des élèments de réponses</strong> à ces deux interrogations afin de vous aider dans vos choix : </p>
    </div><br>
    
    {# Differents types de peau #}
    <h3>"Quel est votre type de peau ?"</h3><br>
    <section style="display:flex;justify-content:space-around">
       
    {# Card1: Peau Normal #}
    <div class="flip-card-container"> 
        <div class="flip-card">
            <div class="flip-card-front">
                <h4>Normale</h4>
                </div>
                    <div class="flip-card-back">
                        <p><span>"Qu'est-ce qu'une peau normale?"</span><br>
                        Douce, lisse, ni grasse ni sèche. Elle ne brille pas, vos pores sont lisses, votre teint est uniforme et vous ne ressentez pas d'inconfort ou de tiraillement, alors votre peau est d'un type dit "normal".</p>
                    </div>
                </div>
            </div>
    {# Card2: Peau Sèche #}
    <div class="flip-card-container"> 
            <div class="flip-card">
                <div class="flip-card-front2">
                    <h4>Sèche</h4>
                </div>
                <div class="flip-card-back">
                    <p><span>"Qu'est-ce qu'une peau sèche ?"</span><br>
                    Si votre peau est fine, grain serré, sensible et source de tiraillements, vous avez certainement la peau sèche. Pauvre en lipides, le film hydrolipidique présent à la surface de la peau devient trop perméable. Mal protégée : la peau se déshydrate facilement.</p>
            </div>
        </div>
    </div>
    {# Card3: Peau Grasse #}
     <div class="flip-card-container"> 
            <div class="flip-card">
                <div class="flip-card-front3">
                    <h4>Grasse</h4>
                </div>
                <div class="flip-card-back">
                    <p><span>"Qu'est-ce qu'une peau grasse ?"</span><br>
                    Dû à un excès de sébum, une substance huileuse sécrétée par les glandes sébacées pour protéger l'épiderme des agressions extérieures. La peau prend alors un aspect luisant, on dit parfois qu'elle brille.</p>
            </div>
        </div>
    </div>
    {# Card4: Peau Mixte #}
     <div class="flip-card-container"> 
            <div class="flip-card">
                <div class="flip-card-front4">
                    <h4>Mixte</h4>
                </div>
                <div class="flip-card-back">
                    <p><span>"Qu'est-ce qu'une peau mixte ?"</span><br>
                    Si elle est sèche sur les joues et les tempes, mais plutôt grasse au niveau de la ligne médiane (front, nez, menton), vous avez vraisemblablement une peau mixte.</p>
            </div>
        </div>
    </div>
    </section>
    </body>


    {# ----------------------------------------------------------------------------------------- #}

    <h3>"Quelle est votre problématique ?"</h3><br>
    <div class="solutions_peau"><br>
        <p>Selon votre type de peau ainsi que votre carnation, vous pouvez rencontrer diverses problématiques liées à divers facteurs :<br>
        <ul>
        <li><span>Facteurs environnementaux</span> : pollution, changements climatiques, rayonnement ultraviolet</li>
        <li>Facteurs humains : stress oxydatif, mauvaise alimentation, manque de sommeil, anxiété, nervosité </li>
        <li><span>Facteurs médicaux</span> : prise de médicaments divers,état de santé physique, dépression </li>
        </ul>
        Vous trouverez dans ce guide à télécharger <strong>des explications et des élèments de réponses</strong> afin d'adapter vos routines en fonction de l'état de santé de votre peau et de ces facteurs : </p>
    </div>

    {# <div class="card">
        <div class="card-image"></div>
            <div class="card-text">
                <span class="date">27/04/2022</span>
                    <h2>Peau sèche</h2>
                        <p>Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit.</p>
    </div>

    <div class="card-stats"></div> #}

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Published</th>
                <th>Header</th>
                <th>Image</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.published ? 'Yes' : 'No' }}</td>
                <td>{{ article.header }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr> #}
        {# {% else %}
            {# <tr>
                <td colspan="9">no records found</td>
            </tr> #}
        {# {% endfor %}
        </tbody>
    </table> #} 
{# ------------------------------------------------------------------------------------------------- #}
    
    <a href="{{ path('app_articles_new') }}">Create new</a>
{% endblock %}
