
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: #5e9693;">Helssy</span><span style="color: #000000;">Skin</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path("app_home") }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path("app_about") }}">A propos</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ path("app_shop") }}" id="navbarDropdownMenuLink" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">Boutique</a>
              <ul class="dropdown-menu dropdown submenu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{{ path("app_soins_visage") }}">Soins visage </a></li>

                <li><a class="dropdown-item" href="{{ path("app_soins_corps") }}">Soins corps </a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path("app_articles_index") }}">Conseils Beauté</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path("app_contact") }}">Contactez-nous</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fa-solid fa-search"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ path("app_login") }}">
              <i class="fa-solid fa-user"></i>
            </a>
          </li>

          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ path("app_register") }}">
              <i class="fa-solid fa-user-pen"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
       