{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Orders index</h1>

    <table class="table_orders">
        <thead>
            <tr>
            {# à rajouter "products" "quantity" "price" #}
                <th>Id</th>
                <th>Total</th>
                <th>Pending</th>
                <th>Payed</th>
                <th>Fail</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.pending ? 'Yes' : 'No' }}</td>
                <td>{{ order.payed ? 'Yes' : 'No' }}</td>
                <td>{{ order.fail ? 'Yes' : 'No' }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_orders_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_orders_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_orders_new') }}">Create new</a>
{% endblock %}
